
body {
    background: #000;
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Slab', serif;
}

header {
    background: #1eb162;
    width: 100%;
    display: table;
    position: fixed;
}

#expanded-menu-button {
    float: left;
    padding: 12px;
}

#expanded-menu-button img {
    width: 40px;
}

#logo {
    float: left;
    padding: 12px;
    height: 40px
}

#logo img {
    width: 80px;
    margin-left: auto;    
}



.list {
    background: #fff;
}

.list-item {
    padding: 10px 20px 10px 20px;
    display: block;
}


.box-item {
    overflow: auto;
}

.box-item > img {
    width: 70px; 
    height: 70px;
    object-fit: cover;
    float: left;
}

.box-item > a {
    text-decoration: none;
    color: #000;
}

.right {
    float: right;
}

.border-bottom {
    border-bottom: medium solid #ccc;
}

.left {
    float: left; /* not needed, just for clarification */
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
}

#main-search {
    padding: 12px;
    
}
#main-search img {
    width: 30px;
    float: right;
}

.draw-one {width: 8.3%;}
.draw-two {width: 16.6%;}
.draw-three {width: 24.9%;}
.draw-four {width: 33.2%;}
.draw-five {width: 41.5%;}
.draw-six {width: 49.8%;}
.draw-seven {width: 58.1%;}
.draw-eight {width: 66.4%;}
.draw-nine {width: 74.7%;}
.draw-ten {width: 83%;}
.draw-eleven {width: 91.3%;}
.draw-twelve {width: 100%;}



nav {
    margin: 0px;
    padding: 0px;
    box-shadow: 1px 1px 1px #ccc;
    margin-top: 70px;
    background: #fff;
}

nav ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: table;
   
}

nav li {
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 5px 0px 5px 0px;
    width: 100px;
    border-right: 1px solid #ccc;
    box-shadow: 0px 0px 0px;
}

nav ul li a {
    text-decoration: none;    
    color: gray;
}

section {
/*    background: url('../images/latino.jpg') no-repeat center;*/
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.row {
    width: 100%; 
    display: table;       
}

.wrapper {
    margin: auto; 
    width: 90%; 
}

.page-title {
    text-align: center;
    width: 100%;
    position: fixed;
    color: white;
    font-size: 24px;
    margin-top: 25px;
    font-weight: bolder;
}
.main-news {
    width: 900px;
}

.panel {
    background: #fff;
    box-shadow: 1px 1px 1px #ccc;
    margin: 0px 0px 15px 15px;
    
}

/*.panel img {
    width: 350px;
    margin: auto;
    padding: 20px;
    height: auto;
}*/

.panel-regular {
    width: 390px;
}

.panel-regular img {
    max-width:100%;
    max-height:100%;
    box-sizing: border-box;
    padding: 20px;
}

.panel-small {
    width: 260px;
}
.panel-small img {
    max-width:100%;
    max-height:100%;
    box-sizing: border-box;
    padding: 20px;
}

.panel-medium {
    width: 600px; 
}
.panel-medium img {
    max-width:100%;
    max-height:100%;
    box-sizing: border-box;
    padding: 20px;
}

.post-title {
    padding: 0px 20px 20px 20px;
}

.post-placeholder {
    padding: 0px 20px 20px 20px;
    font-weight: bold;
}

.post-author {
    padding: 0px 20px 20px 20px;
}

.main-content {
    height: 350px;
    text-align: right;
}

.main-text {
    color: #ccc;
    font-size: 24px
}

.main-text-border {
    margin-top: 120px;
}

.read-now a {
    color: yellow; 
    text-decoration: none;
    font-size: 24px; 
    font-weight: bold;
    font-style: italic;
}

.small-text {
    color: white;
}

.text-center {
    text-align: center;
    padding: 15px;
}

footer {
    background: white;
    margin-top: 600px;
}

.main-footer {
          
}

.main-footer img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
}
